services:
  bot:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: video-downloader-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./downloads:/app/downloads
      - ./cookies.txt:/app/downloads/cookies.txt
    dns:
      - 8.8.8.8
      - 8.8.4.4
      - 1.1.1.1
      - 1.0.0.1
    environment:
      - HTTP_PROXY=
      - HTTPS_PROXY=
      - NO_PROXY=*